In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('/var/home/sherwin/Downloads/rotten_tomatoes_reviews.csv')

In [80]:
df1=df1.sample(50000)

In [81]:
df1.shape

(50000, 2)

In [82]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 112127 to 168233
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Freshness  50000 non-null  uint8
 1   Review     50000 non-null  object
dtypes: object(1), uint8(1)
memory usage: 830.1+ KB

In [83]:
df1.head()

        Freshness                                             Review
112127          0  cornucopia ridicul top action humor romanc con...
150011          1  affabl entertain road movi smart map charact u...
475578          1  seek relea seem limit provid welcom antidot st...
340979          1  broomfield voiceov commentari sound like bad r...
402887          1                                 provoc quiet drama

In [84]:
def convert_lower(text):
    return text.lower()

In [85]:
df1['Review']=df1['Review'].apply(convert_lower)

In [86]:
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [87]:
df1['Review']=df1['Review'].apply(remove_special)

In [88]:
import nltk

from nltk.corpus import stopwords

In [89]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno -3]
[nltk_data]     Temporary failure in name resolution>

False

In [90]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [91]:
df1['Review']=df1['Review'].apply(remove_stopwords)

In [92]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [93]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    Z=y[:]
    y.clear()
    return Z

In [94]:
df1['Review']=df1['Review'].apply(stem_words)

In [95]:
def join_back(list_input):
    return " ".join(list_input)

In [96]:
df1['Review']=df1['Review'].apply(join_back)

In [97]:
df1['Freshness'] = df1['Freshness'].astype(np.uint8)

In [98]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 112127 to 168233
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Freshness  50000 non-null  uint8
 1   Review     50000 non-null  object
dtypes: object(1), uint8(1)
memory usage: 830.1+ KB

In [99]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [100]:
X=cv.fit_transform(df1['Review']).toarray()